flask == 2.2.2
sqlalchemy==2.0.0b3
marshmallow-sqlalchemy == 0.28.1
Werkzeug == 2.2.2
marshmallow == 3.19.0
wget==3.2
fasttext-langdetect==1.0.3
googletrans==3.1.0a0
sacremoses==0.0.53
torch==1.13.0
transformers==4.24.0
# scrapper
requests-html~=0.10.0
pydantic~=1.6.1
pendulum~=2.1.2
loguru~=0.5.1
docker~=4.3.1
jinja2~=2.11.2
markupsafe==2.0.1
tweepy
sentencepiece==0.1.97
protobuf==3.20.0
numpy==1.23.4