flask == 2.2.2
sqlalchemy==2.0.0b3
marshmallow-sqlalchemy == 0.28.1
Werkzeug == 2.2.2
marshmallow == 3.19.0
wget==3.2
fasttext-langdetect==1.0.3
googletrans==3.1.0a0
sacremoses==0.0.53
torch==1.13.0
transformers==4.24.0
